th {
    width: 16%;
    padding: 1.5rem;
}

td {
    width: 16%;
    padding: 1.5rem;
}

h4 {
    margin-top: 3%;
    margin-bottom: 1.5%;
    font-size: 1.5rem;
}

thead {
    background-color: aquamarine;
    border-radius: 10px;
}

.table {
    width: 75%;
    height: 100%;
    border-bottom: 5px solid aquamarine;
    border-radius: 10px;
    overflow: hidden;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
}

.refresh {
    padding: 15px;
    border-radius: 10px;
    background-color: aquamarine;
    border-bottom: 5px solid slateblue;
    cursor: pointer;
}

.refresh:hover {
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    background-color: slateblue;
    border-bottom: 5px solid aquamarine;
    cursor: pointer;
    transition: 0.75s;
}

.posref {
    margin-top: 3%;
    margin-left: 8.5%;
}

tr:nth-child(even) {
    background-color: rgb(196, 253, 234);
}

th,
td {
    text-align: left;
}

.pagination {
    display: inline-block;
    margin-left: 41%;
    margin-top: -5%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

@media screen and (max-width:500px) {
    .pagination {
        display: inline-block;
        margin-left: 23.5%;
    }
    .posref {
        margin-top: 3%;
        margin-left: 8.5%;
    }
}